{% extends "layout-3.html" %}

{% block pageTitle %}
  Enter income
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Income and expenditure</span>

        Your total income and expenditure
      </h1>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <h1 class="govuk-heading-l">Income</h1>


      <div class="govuk-form-group">

      </div>

      <h1 class="govuk-heading-m"><span class="govuk-body">Total monthly income:<br></span>
        {% set totalIncome = data['income-monthly']|float + data['benefits']|float + data['pension']|float + data['other-income']|float %}

        {{ totalIncome|currency }}




       </h1>
<p class="govuk-link">Change</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



      <h1 class="govuk-heading-l">Expenditure</h1>

      <div class="govuk-form-group">




      </div>

      <h1 class="govuk-heading-m"><span class="govuk-body">Total monthly expenditure:<br></span>
        {% set totalExpenditure = data['housing']|float + data['utilities']|float + data['travel']|float + data['pension-contributions']|float + data['groceries']|float + data['childcare-costs']|float  + data['personal-costs']|float  +  data['communications']|float + data['other-repayments']|float %}
        {{ totalExpenditure|currency}}




       </h1>
       <p class="govuk-link">Change</p>

       <form action="how-much-can-you-afford-to-repay">

       <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
       <input type="hidden" id="left-over-income" name="left-over-income"  />

<p class="govuk-heading-s">Your monthly disposable income is
<span class="govuk-heading-l"> {% set balance = totalIncome-totalExpenditure %}
{{ balance|currency}}
<input type="hidden" id="left-out-balance" name="leftOutBalance" value="{{ balance }}">

</span>
</p>




  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>



    </div>
  </div>

{% endblock %}
