
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment review
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}






	<div class="govuk-grid-row">

		 <div class="govuk-grid-column-three-quarters">


			<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <span class="govuk-caption-xl">Manage your repayments</span>

        Tell us how much you can afford
</h1>




				<p>You have the option to manage your repayments based on how much you can afford.

</p>





				<p>We will ask you questions to understand more about your financial situation.

</p>




				<p><a href="financial-situation" class="govuk-button">Continue</a></p>

		 </div>
	</div>






{% endblock %}
