{% extends "layout-main.html" %}

{% block pageTitle %}
What this change will mean for you – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="successful-payment" method="post">

      <h1 class="govuk-heading-xl">
        What this change will mean for you
      </h1>

      <br>

      <div class="flexible-banner-playback">
        <ul class="govuk-list">


          <li>
            <h3>Payment today:</h3>
            <span id="new-debts-amount"><b>
              £10.00 
            </b></span>
            <p><a class="govuk-link" href="index.html">Change</a></p>
          </li>

        </ul>
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Before payment</th>
            <th scope="col" class="govuk-table__header">After payment</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total amount left to pay</th>
            <td class="govuk-table__cell">£300.00</td>
            <td class="govuk-table__cell">£290.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Final payment amount</th>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell">£10.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Estimated number of payments</th>
            <td class="govuk-table__cell">15</td>
            <td class="govuk-table__cell">15</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Expected final repayment</th>
            <td class="govuk-table__cell">December 2027</td>
            <td class="govuk-table__cell">December 2027</td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue to payment
      </button>

      </form>

    </div>
  </div>

{% endblock %}