
{% extends "layout-3a.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}






<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Sorry, we could not sign you in with GOV.UK One Login</h1>


  

    <p>You can <a href="sign-in-security-code">sign in with your security code</a> if you have been sent one from DWP. 
    </p>

    <p>Contact DWP Management if you have not been sent a security code from DWP.</p>
   
    <p> <b>Debt Management</b> <br><br>
      Telephone: 0800 916 0647 <br>
      Textphone: 0800 916 0651 <br>
      Monday to Friday, 8am to 7:30pm (except public holidays)
    </p>

<p><a href="">Find out about call charges</a></p>


  </div>
</div>

{% endblock %}
