
{% extends "layout-3a.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}






<div class="govuk-grid-row">

  <nav class="dwp-language-toggle" aria-label="change language">
    <ul class="dwp-language-toggle__list">
      <li lang="en" id="li-en" class="dwp-language-toggle__list-item">English</li>
      <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link">Cymraeg</a></li>
    </ul>
  </nav>
  
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Sorry, we could not sign you in with GOV.UK One Login</h1>

    <!-- <p>This is because some of your details do not match our records. -->

    <p>You can still <a href="sign-in-security-code">sign in with your security code</a> if you have been sent one from DWP (DfC in Northern Ireland). 
    </p>

    <p>If you need further help signing in, contact Debt Management.</p>
   


    <p> <b>If you live in Great Britain:</b> <br><br>
      Telephone: 0800 916 0647 <br>
      Textphone: 0800 916 0651 <br>
      Monday to Friday, 8am to 7:30pm (closed on public holidays)
    </p>

<p><a href="">Find out about call charges</a></p>

<p> <b>If you live in Northern Ireland:</b> <br><br>
  Telephone: 0800 587 1322 <br>
  Textphone: 0800 587 2986 <br>
  Monday to Friday, 9am to 4pm (closed on public holidays)
</p>

<p><a href="">Find out about call charges</a></p>


  </div>
</div>

{% endblock %}
