{% extends "layout-main.html" %}

{% block pageTitle %}
  Help and support – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Get help if you're struggling to repay benefit money you owe
      </h1>

      <p class="govuk-body">If you're struggling to repay benefit money you owe, you can <a href="#">choose a payment plan</a> that's right for you.</p>

      <p>There is also help and support available from the Department of Work and Pensions (DWP) Debt Management team and independent organisations.</p>

      <h2 class="govuk-heading-m">How the DWP Debt Management team can help</h2>

      <p>If you're struggling to repay benefit money you owe for any reason, let us know. Our agents will work with you, providing help and support with your repayments.</p>

      <p>Depending on your circumstances, they may offer help and support including:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>adjusting how much you pay each month to make it affordable</li>
            <li>setting up a short break from repaying the money you owe</li>
            <li>getting a free, independant debt advisor to contact you</li>
            <li>telling you about organisations that can give you additional support</li>
            </ul>

      <div class="govuk-inset-text">
        If you are struggling to repay an advance you got on your current Universal Credit claim, <a href="https://www.gov.uk/universal-credit/contact-universal-credit">contact Universal Credit</a>.
      </div>

      <p>Contact DWP Debt Management</p>
            <ul class="govuk-list">
            <li>Telephone: 0800 916 0647</li>
            <li>Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 916 0647</li>
            <li>Video relay service for British Sign Language (BSL) users - check you can use the service</li>
            <li>Calling from abroad: +44 (0)161 904 1233</li>
            <li>Monday to Friday, 8am to 7:30pm</li>
            </ul>

            <p class="govuk-body">
              <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
            </p>

        <h2 class="govuk-heading-m">Free independent debt advice and money guidance</h2>

        <p class="govuk-body">You can get free, confidential and independent advice on a range of debt problems from debt advisors. Debt advisors can:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              check to see if you're missing out on any benefits you could claim
            </li>
            <li>
              help you deal with your debt by showing you options you might not know about
            </li>
            <li>
              offer you tips to help you manage your money
            </li>
          </ul>

          <p>Use the MoneyHelper tool to <a href="https://www.moneyhelper.org.uk/en/money-troubles/dealing-with-debt/debt-advice-locator">find an advisor near you</a> or you can visit our webpage, <a href="https://www.gov.uk/debt-advice">get free debt advice</a>, to find a list of organisations who can help with debt.</p>


          <p class="govuk-body">MoneyHelper also has useful tools on their website to help you manage your money, including:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="https://www.moneyhelper.org.uk/en/everyday-money/budgeting/budget-planner">Budget Planner</a> which helps you build a budget, know exactly where money is being spent, and know what you've got coming in
            </li>
            <li>
              <a href="https://www.moneyhelper.org.uk/en/money-troubles/cost-of-living/bill-prioritiser">Bill Prioritiser</a> which helps you decide which payments to tackle first and, if you're struggling to pay, can tell you what to do before you miss a payment
            </li>
          </ul>

    </div>
  </div>

{% endblock %}