{% extends "layouts/main.html" %}

{% block pageTitle %}
  Payment history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Payment history
      </h1>

      <p>
        Pending payments can take 2 to 5 working days to clear and update your balance.
      </p>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Payments</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">16 Mar 2026</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                Pending
              </strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;20.00</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">10 Nov 2025</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Received
              </strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;140.00</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Oct 2025</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Received
              </strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;105.90</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">8 May 2025</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Received
              </strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;44.30</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">25 Feb 2025</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Received
              </strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;36.50</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Jan 2024</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Received
              </strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;197.70</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">9 May 2023</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Received
              </strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;52.28</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Jan 2023</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Received
              </strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;115.64</td>
            </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}