{% extends "layout-main.html" %}

{% block pageTitle %}
What do you want to do? – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block beforeContent %}

<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">	  
  
      <span class="govuk-caption-xl">David Jones</span>
	  <h1 class="govuk-heading-xl">What do you want to do?</h1>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
      
      <div>
        <p>Total amount owed:<br> 
            <span class="total-amount">
            &pound;520.00
            </span>
        <p>
    </div>
  
  
	  <form class="form" action="/v49/off-benefit/ftu/what-do-you-want-to-do/what-do-you-want-to-do-routing" method="post">
		<input type="hidden" name="_csrf" value="#">
  
  
  <div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
	  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
		Select one option:
	  </legend>
	
	  <div class="govuk-radios" data-module="govuk-radios">
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="selected-option" name="selected-option" type="radio" value="I want to view my payment options" aria-describedby="selected-option-2">
		  <label class="govuk-label govuk-radios__label" for="selected-option">
			I want to view my payment options
		  </label> 
		</div>
		
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="selected-option-2" name="selected-option" type="radio" value="I want to view details of what I owe" aria-describedby="selected-option-2">
		  <label class="govuk-label govuk-radios__label" for="selected-option-2">
			I want to view details of what I owe
		  </label>  
		</div>

        <div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="selected-option-3" name="selected-option" type="radio" value="I need help and support in dealing with the money I owe" aria-describedby="selected-options-3">
		  <label class="govuk-label govuk-radios__label" for="selected-option-3">
			I need help and support in dealing with the money I owe
		  </label>  
		</div>
	  </div>
	
	</fieldset>
  </div>
  
  <button type="submit" class="govuk-button" data-module="govuk-button">
	Continue
  </button>
  
  
	  </form>
	</div>
  </div>


{% endblock %}
