{% extends "layouts/main.html" %}

{% block pageTitle %}
  Affordable payment plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form class="form" action="../setup/index.html">

      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Affordable payment plan
          </h1>
        </legend>

        <div class="flexible-banner-playback" wiid="N110">
            <ul class="govuk-list" wiid="N112">

              <li wiid="N114">
                <h3 wiid="N116">Monthly payment:</h3>
                <span id="new-debts-amount" wiid="N119"><b wiid="N120">{{5 | currency}}</b></span>
                <p wiid="N123"><a class="govuk-link" href="./different-amount" wiid="N124">Change</a></p>
              </li>

            </ul>
        </div>

        <p class="govuk-!-font-weight-bold">The monthly payment you entered means you will be setting up an affordable payment plan.</p>

        <p>This is how an affordable payment plan works:</p>

            <ul class="govuk-list govuk-list--bullet">
             <li>if your financial situation improves, sign into your account to increase your monthly payments or pay additional one-off amounts</li>
             <li>if you cannot increase your payment plan over the next year, we may contact you to review your situation to understand how much you can afford</li>
            </ul>



        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>

        </fieldset>

      </form>
    </div>
  </div>

{% endblock %}