{% extends "layout-main.html" %}

{% block pageTitle %}
Account home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
          Examples of different ways of communicating 
    </h1>

        <ul class="govuk-list govuk-list--bullet">
        <li>letter</li>
        <li>phone</li>
        <li>text</li>
        <li>email</li>
        <li>online chat</li>
        <li>online service (repay and manage benefit money you owe)</li>
        </ul>

  		</div>

  	  </div>
    

{% endblock %}