{% extends "layout-3.html" %}

{% block pageTitle %}
Make a payment towards your March target – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<!-- WHEN USER HAS NO TARGET SET (MVP) & CARD PAYMENTS ARE DOWN -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form class="form" action="#" method="post">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
		<div class="govuk-notification-banner__header">
			<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				Important
			</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<p class="govuk-notification-banner__heading">
				<strong>Card payments</strong>
				<p style="max-width:1024px !important;">You cannot make online card payments at this time. Try again later.</p>
				<p style="max-width:1024px !important;">If you need to make a payment now, you can <a href="#">contact us for help and support</a>.</p>
			</div>
	  </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl mb30">
            <h1 class="govuk-fieldset__heading">
              Make a payment for March
            </h1>
          </legend>

          <p class="govuk-hint">You must make at least one payment every month.</p>

          <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
        </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
