{% extends "layout-main.html" %}

{% block pageTitle %}
Account home – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="clear-bar stripped-border">
      <div class="identifier">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Account home</span>
          David Jones
        </h1>

      </div>
      <div>
        <p style="float:right; border:0px; font-size:19px; text-align:right;"  >
          Total amount left to repay:<br>
           <span class="total-amount">
            &pound;300.00

          </span>
        </p>

		</div>

    </div>

    <div class="govuk-grid-row">
  	  <div class="govuk-grid-column-full">
  		<div class="govuk-grid-row">

  		 <div class="govuk-grid-column-one-half">

  			 <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Your repayments</h2>

  					   <div class="scenario-inner-panel">

						<div id="green-banner"  class="alert-green">
              			<p style="margin-bottom:0px;"> <strong>Previous repayment</strong><br>
                         £20.00 on 01 Sep 2026</p>
                       </div>

  						<p class="govuk-body">If your monthly repayments stay at £10.00, you will clear the total amount owed in March 2029.</p>

              <p class="govuk-body">
				<a href="../details-of-what-you-owe/index.html">
                  View details of what you owe
                </a> 
			  </p>

			  <p class="govuk-body">
				<a href="../payment-history/index.html">
                  View your payment history
                </a> 
			  </p>

  			</div>
  		</div>
	</div>

  		<div class="govuk-grid-column-one-half">

  			<div class="scenario-panel" style="height:360px;">
  				<h2 class="govuk-heading-s">Make additional payments</h2>

  					<div class="scenario-inner-panel" >

						<p>Additional payments are voluntary and help you pay off what you owe quicker.</p>

						<p class="govuk-body">
							<a href="../pay-off-what-you-owe-in-full/index.html">
								Pay off what you owe in full
							</a> 
						</p>

						<p class="govuk-body">
							<a href="../make-smaller-one-off-payment/index.html">
								Make a smaller one-off payment
							</a> 
						</p>

  		            </div>
  			</div>

		</div>

  		</div>

  		  <div class="govuk-grid-row">

  			  <div class="govuk-grid-column-one-half">

  			  		<div class="scenario-panel">
  					   	<h2 class="govuk-heading-s">Manage your monthly repayments</h2>

  					   <div class="scenario-inner-panel">
  						<p class="govuk-body">As you are repaying money to the DfC, you can get help understanding how much you can afford if you are struggling with your repayments.</p>

						<p class="govuk-body">
							<a href="../manage-your-monthly-repayments/index.html">Manage your monthly repayments</a>
						</p>  					   
					</div>

  				</div>

  		  </div>

  		  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel" style="height:240px;">
  					   <h2 class="govuk-heading-s">Help and support</h2>

  					   <div class="scenario-inner-panel">
  						<p class="govuk-body">You can contact us for general help and support.</p>

              			<p class="govuk-body">  					  
							<a href="../help-and-support/index.html" >Get help and support</a>
              			</p>

              	</div>
  			</div>

  		  </div>

  		</div>

  	  </div>
    

{% endblock %}
