{% extends "layout-main.html" %}

{% block pageTitle %}
Direct Debit payments – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block beforeContent %}

<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

    <!-- VERSION OF MONTHLY OPTIONS PAGE WHEN DIRECT DEBIT IS DOWN UNSCHEUDLED MAINTANCE -->

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">	  

	<form class="form" action="#" method="post" novalidate="">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
				<div class="govuk-notification-banner__header">
				  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Important
				  </h2>
				</div>
				<div class="govuk-notification-banner__content">
				  <p class="govuk-notification-banner__heading">
					<strong>Direct Debit payment plans</strong>
					<p style="max-width:1024px !important;">You cannot set up a new Direct Debit at this time. Try again later.</p>
				</div>
		</div>

	  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Direct debit payments</h1>
  
		<p>If you want to set up a monthly Direct Debit online:</p>
  
	  <ul class="govuk-list govuk-list--bullet">
		<li>you must be an account holder and be able to authorise Direct Debits with your bank or building society</li>
		<li>you will need your bank or building society account details</li>
		<li>you will also need your sort code and account number if you have a building society account</li>
	  </ul>

	  <p>Once your plan is set up, you can sign in to manage your plan, change payments, pay additional amounts or get help and support.</p>

	  <h2 class="govuk-heading-m">For joint account holders:</h2>

	  <p>If you have a joint account and you and your partner both need to authorise Direct Debits, you can set up a Direct Debit by contacting Debt Management:</p>

	  <p><strong>Debt Management</strong></p>
  
			<ul class="govuk-list">
			<li>Telephone: 0800 916 0647</li>
			<li>Textphone: 0800 916 0651</li>
			<li>Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
		</ul>
  
  <p><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a></p>
  
  <button type="submit" class="govuk-button" data-module="govuk-button">
	Continue
  </button>
  
	  </form>
	</div>
  </div>

{% endblock %}
