{% extends "layout-3.html" %}

{% block pageTitle %}
Account home
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
  <!--<span class="govuk-caption-l">Important Information</span>-->
  You now need to a set up a repayment plan
</h1>


<p>If you do not set up a repayment plan before 28 October 2023, DWP will contact your employer to make deductions from
  your pay.</p>

<p>We understand it may not be possible to pay the amount you owe in one go so you can set up a <a href="">Direct
    Debit</a> or
  <a href=""> flexible payment plan</a>.
</p>

<!--<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I have read the message.
        </label>
      </div>
    </div>
  </fieldset>
</div>-->



<a class="govuk-button" href="indexAccountHome-onoff-inbox-on-to-off-reminder">Back to messages</a>

{% endblock %}