
{% extends "layout-main.html" %}

{% block pageTitle %}
  Repay and manage benefit money you owe
{% endblock %}

{% block content %}

	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">

        <div class="govuk-panel govuk-panel--confirmation">
             <h1 class="govuk-panel__title">
              You have successfully updated your repayments
             </h1>
        </div>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Summary</caption>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total amount left to repay</th>
              <td class="govuk-table__cell">£300.00</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">New repayment amount</th>
              <td class="govuk-table__cell">      
                £10.00
  </td>
            </tr>

          </tbody>
        </table>

        <p class="govuk-inset-text">If you have a Universal Credit payment due in the next 7 working days, your Universal Credit account may not show the new amount until next month.</p>

        <h2 class="govuk-heading-m">Reviewing your repayments</h2>

        <p>We may contact you in the future to review your repayments and will send you a notification with further details.</p>

        <hr>

        <br>

         <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service? (opens in new tab)</a>
        </p>



		<a href="../account-home/index-b.html"><button class="govuk-button" data-module="govuk-button">Go to Account home</button></a>





      




    </div>
</div>

{% endblock %}
