{% extends "layout-3.html" %}

{% block pageTitle %}
Pay off what you owe in full – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

<!-- DEN with a direct debit plan set up -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form class="form" action="#" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl mb20">
            <h1 class="govuk-fieldset__heading">
              Pay off what you owe in full
            </h1>
          </legend>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios">

                <p class="govuk-body">You may have recently made a Direct Debit payment or have one due in the next 7 days.</p>
                
                <p class="govuk-body"> If so, wait for it to appear in your <a href="#">payment history</a> before paying off what you owe in full. This helps you avoid overpaying.</p>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
