{% extends "layouts/for-test-main.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-padding-4">


        <p>Research month: <strong>August 2025</strong>
        <span style="float:right;">Research status:
          <strong class="govuk-tag govuk-tag--red" >
          Not Done
        </strong></span></p>


                <a href="/v48/dd-flex.html""><button type="submit" class="govuk-button" data-module="govuk-button">
              Start Journey
            </button></a>


                <p>Account home variations</p>
                <ol class="govuk-list govuk-list--bullet">
                  <li><a href="/design-improvements/account-home/flex-account-with-target-new-not-paid">Flex with target not met</a></li>
                  <li><a href="/design-improvements/account-home/flex-account-with-target-new">Flex with target met </a></li>
                  <li><a href="/design-improvements/account-home/flex-account-with-no-target-new">Flex with no target </a></li>



                </ol>

</div>

{% endblock %}
