{% extends "layouts/for-test-main.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prototype
    </h1>

<div class="govuk-grid-row govuk-!-padding-4">

    <p class="govuk-body">This service is in <strong class="govuk-tag govuk-tag--turquoise">Live</strong>, we continue to make iterations to the service.</p>

    <p>UCD Team:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Sophie Friell (Interaction Designer)</li>
      <li>Dani Sharp (Content Designer)</li>
      <li>Michael Lo (User Researcher)</li>
    </ul>

    <h2 class="govuk-heading-m">What we are currently working on</h2>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Out of hours deployment of service unavailable content
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-15713" target="_blank">Jira ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--pink">
                    In design
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                  The dev team are building a preselection of messages that can be used by SRE or live services so that they can deploy messages out of hours.
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Scheduled maintenance links
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v49/sign-in-choice/case2.html">Problem with OneLogin</a>
                  </li>
                  <li>
                    Direct debit payments down: <a href="./v49/off-benefit/rfu/your-plan/case2.html">RFU</a>, <a href="./v49/den/account-home/no-payment-plan/case2.html">DEN with no payment plan</a>
                  </li>
                  <li>
                    Card payments down: RFU, RDD, On benefit users, DEN (<a href="./v49/den/account-home/no-payment-plan/case4.html">no payment plan</a>, direct debit plan,  or non-DD plan), DEA
                  </li>
                </ul>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Unscheduled maintenance links
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    Direct debit payments down: <a href="./v49/off-benefit/rfu/your-plan/case3.html">RFU</a>, <a href="./v49/den/account-home/no-payment-plan/case3.html">DEN with no payment plan</a>, <a href="./v49/off-benefit/ftu/monthly-option/case2.html">FTU & On to off benefit users</a>
                  </li>
                  <li>
                    Card payments (pending content)
                  </li>
                  <li>
                    <a href="./v49/sign-in-choice/case3.html">Sign in issues</a>
                  </li>
                </ul>
                </dd>
              </div>

            </dl>
          </div>
        </div>
    
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Payment history clarity 
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-13739" target="_blank">Jira ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for sign off
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                  Payment history lists details of all payments, including those for debts that have now been cleared. User feedback shows confusion when trying to match debt figures shown on details of what you owe with payments showing on payment history.
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Links (DEA)
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v49/dea/payment-history/index.html">Payment history (standard)</a>
                  </li>
                  <li>
                    <a href="./v49/dea/payment-history/case2.html">Payment history (user with over 100 payments)</a>
                  </li>
                </ul>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Links (All other users)
                </dt>
                <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v49/payment-history/index.html">Payment history (standard)</a>
                  </li>
                  <li>
                    <a href="./v49/payment-history/case2.html">Payment history (pending payment)</a>
                  </li>
                  <li>
                    <a href="./v49/payment-history/case3.html">Payment history (user with over 100 payments)</a>
                  </li>
                  <li>
                    <a href="./v49/payment-history/case4.html">Payment history (pending payment & user with over 100 payments)</a>
                  </li>
                </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              DEA & DEN user flows
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <!-- <a class="govuk-link" href="#" target="_blank">Jira ticket<span class="govuk-visually-hidden"></span></a> -->
                 <!-- Jira ticket -->
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--red">
                    Prototype update
                  </strong>

                  <br></br>

                  <strong class="govuk-tag govuk-tag--yellow">
                    UR planning
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                  DEA and DEN users will now be able to use the Repay service. While these pages have been taken from existing user flows they will need to be retested for any iterations.
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Scenarios (DEN)
                </dt>
                <dd class="govuk-summary-list__value">

                <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="/design-improvements/den/account-home.html">Payment plan has not set-up</a>
                  </li>
                  <li>
                    <a href=" /design-improvements/den/direct-debit-setup-done/account-home.html">Payment plan set-up using direct debit</a>
                  </li>
                  <li>
                    <a href="/design-improvements/den/alternate-payment-setup-done/account-home.html">Payment plan set-up a using a standing order with an agent over the phone</a>
                  </li>
                  <li>
                    <a href="/design-improvements/den/cannot-setup-plan-online/account-home.html">Homepage</a>
                  </li>
                </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Scenarios (DEA)
                </dt>
                <dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                    <li>
                      <a href=" /design-improvements/dea/account-home.html">Log in and view details </a>
                    </li>
                </ul>                
      </dd>
              </div>
            </dl>
          </div>
        </div>

</div>

{% endblock %}
