{% extends "layout-main-not-signnedin.html" %}

{% block pageTitle %}
Research links
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Research links
    </h1>

<div class="govuk-grid-row govuk-!-padding-4">

  <ul class="govuk-list govuk-list--bullet">

                   <li>
                    <a href="./v49/on-benefit/start-page/index.html">GOV.UK guidance</a>
                  </li>

                  <li>
                    <a href="./v49/on-benefit/account-home/index.html">Repay and Manage Benefit Money you Owe </a>
                  </li>

                  <li>
                    <a href="./v49/off-benefit/rdd/text-messages/index.html">Example text message</a>
                  </li>

                  <li>
                    <a href="./v49/on-benefit/cleared/start-page/index.html">Cleared debts</a>
                  </li>

                  <li>
                    <a href="./v49/on-benefit/communication/index.html">Communication options</a>  
                  </li>

  </ul>

</div>

{% endblock %}
