{% extends "layouts/main.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Research links
    </h1>

<div class="govuk-grid-row govuk-!-padding-4">

  <h2 class="govuk-heading-m">Service versions: flexible payments</h2>

  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="/v49/off-benefit/rfu/start-page/index">Link 1: Start page</a>
                  </li>

                  <li>
                    <a href="/v49/off-benefit/rfu/text-messages/case2">Text message 1: Received 15 April 2026, you have not yet made a payment for April</a>
                  </li>

                  <li>
                    <a href="/v49/off-benefit/rfu/text-messages/case3">Text message 2: Received later in May, you have still not made a payment for April</a>
                  </li>

                  <li>
                    <a href="/v49/off-benefit/rfu/account-home/indexb">Link 2: Account home</a>
                  </li>
  </ul>

  <h2 class="govuk-heading-m">Service versions: direct debit payments</h2>

  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="/v49/off-benefit/rdd/account-home/index">Link 3: Account home</a>
                  </li>

                  <li>
                    <a href="/v49/off-benefit/rfu/text-messages/index">Text message 3: Recieved when there is a direct debit issue</a>
                  </li>

                  <li>
                    <a href="/v49/payment-history/index">Link 4: Payment history</a>
                  </li>
                  
                </ul>

</div>

{% endblock %}
