{% extends "layouts/main.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Research links
    </h1>

<div class="govuk-grid-row govuk-!-padding-4">

  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="/design-improvements/den/account-home.html">Link 1: Payment plan not set-up</a>
                  </li>
                  <li>
                    <a href=" /design-improvements/den/direct-debit-setup-done/account-home.html">Link 2: Payment plan set-up using direct debit</a>
                  </li>
                  <li>
                    <a href="/design-improvements/den/alternate-payment-setup-done/account-home.html">Link 3: Payment plan set-up using standing order with agent on phone</a>
                  </li>
                  <li>
                    <a href="/design-improvements/den/cannot-setup-plan-online/account-home.html">Link 4: Unable to set up payment plan</a>
                  </li>
                </ul>


</div>

{% endblock %}
