{% extends "layouts/main.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Research links
    </h1>

<div class="govuk-grid-row govuk-!-padding-4">

  <h2 class="govuk-heading-m">Service versions: employed</h2>

  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href=" /design-improvements/dea/ol_start.html">Link 1: Start page</a>
                  </li>

                  <li>
                    <a href=" /design-improvements/dea/account-home">Link 2: Your account home</a>
                  </li>
  </ul>

  <h2 class="govuk-heading-m">Service versions: self-employed or not currently working</h2>

  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="/design-improvements/den/account-home.html">Link 3: You need to set-up a payment plan</a>
                  </li>
                  <li>
                    <a href=" /design-improvements/den/direct-debit-setup-done/account-home.html">Link 4: You have set-up a payment plan using direct debit</a>
                  </li>
                  <li>
                    <a href="/design-improvements/den/alternate-payment-setup-done/account-home.html">Link 5: You have set up a payment plan using a standing order, with an agent on the phone</a>
                  </li>
                  <li>
                    <a href="/design-improvements/den/cannot-setup-plan-online/account-home.html">Link 6: Your account home</a>
                  </li>
                </ul>


</div>

{% endblock %}
