
{% extends "layout-main.html" %}

{% block pageTitle %}
Set up payment plan
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




        <form class="form" action="change-direct-debit-amount" method="post">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
            Manage payment plan
          </h1>

        <p>You can change your:

          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Direct Debit amount</li>

            <li>Direct Debit payment day</li>


          </ul>

<p class="govuk-heading-m">Do you want to change your bank details?</p>
          <p>If you want to make changes to your bank details, you need to contact DWP Debt Management.
         </p>

           <p><strong>DWP Debt Management</strong></p>
            <ul class="govuk-list">
            <li>Telephone: 0800 158 5519</li>
            <li>Textphone: 18001 then 0800 158 5519 when using <a href="https://www.relayuk.bt.com/" target="_blank">Relay UK (opens in new tab)</a></li>
            <li>Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
              </ul>

            <p class="govuk-body">
              <a class="govuk-link" target="_blank" href="https://www.gov.uk/call-charges">Find out about call charges (opens in a new tab)</a>
            </p>

          <p><a href="change-direct-debit-amount" class="govuk-button">
            Continue
          </a></p>
        </form>

      </div>
    </div>

    {% endblock %}